<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>myweb3</display-name>
  <welcome-file-list>
    <welcome-file>index</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Index</display-name>
    <servlet-name>Index</servlet-name>
    <servlet-class>com.it.myservlet.Index</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Index</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.it.myservlet.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>MyFilter</display-name>
    <filter-name>MyFilter</filter-name>
    <filter-class>com.it.myfilter.MyFilter</filter-class>
    <init-param>
      <param-name>UTF</param-name>
      <param-value>utf-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>MyFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>Home</display-name>
    <servlet-name>Home</servlet-name>
    <servlet-class>com.it.myservlet.Home</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Home</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>com.it.listener.URLllisener</listener-class>
  </listener>
  <context-param>
    <param-name>dburl</param-name>
    <param-value>jdbc:mysql://127.0.0.1:3306/library</param-value>
  </context-param>
  <context-param>
    <param-name>dbuser</param-name>
    <param-value>root</param-value>
  </context-param>
  <context-param>
    <param-name>dbpwd</param-name>
    <param-value>0314</param-value>
  </context-param>
  <filter>
    <display-name>Servletlisenter</display-name>
    <filter-name>Servletlisenter</filter-name>
    <filter-class>com.it.myfilter.Servletlisenter</filter-class>
    <init-param>
      <param-name>uri</param-name>
      <param-value>/index,/login</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>Servletlisenter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>Cardhome</display-name>
    <servlet-name>Cardhome</servlet-name>
    <servlet-class>com.it.myservlet.Cardhome</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Cardhome</servlet-name>
    <url-pattern>/cardhome</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Cardel</display-name>
    <servlet-name>Cardel</servlet-name>
    <servlet-class>com.it.myservlet.Cardel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Cardel</servlet-name>
    <url-pattern>/cardel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Cardadd</display-name>
    <servlet-name>Cardadd</servlet-name>
    <servlet-class>com.it.myservlet.Cardadd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Cardadd</servlet-name>
    <url-pattern>/cardadd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Cardedit</display-name>
    <servlet-name>Cardedit</servlet-name>
    <servlet-class>com.it.myservlet.Cardedit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Cardedit</servlet-name>
    <url-pattern>/cardedit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Bookhome</display-name>
    <servlet-name>Bookhome</servlet-name>
    <servlet-class>com.it.myservlet.Bookhome</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Bookhome</servlet-name>
    <url-pattern>/bookhome</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Bookdel</display-name>
    <servlet-name>Bookdel</servlet-name>
    <servlet-class>com.it.myservlet.Bookdel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Bookdel</servlet-name>
    <url-pattern>/bookdel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookEdit</display-name>
    <servlet-name>BookEdit</servlet-name>
    <servlet-class>com.it.myservlet.BookEdit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookEdit</servlet-name>
    <url-pattern>/bookedit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>bookadd</display-name>
    <servlet-name>bookadd</servlet-name>
    <servlet-class>com.it.myservlet.bookadd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>bookadd</servlet-name>
    <url-pattern>/bookadd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BorrowBook</display-name>
    <servlet-name>BorrowBook</servlet-name>
    <servlet-class>com.it.myservlet.BorrowBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BorrowBook</servlet-name>
    <url-pattern>/borrowbook</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReBook</display-name>
    <servlet-name>ReBook</servlet-name>
    <servlet-class>com.it.myservlet.ReBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReBook</servlet-name>
    <url-pattern>/rebook</url-pattern>
  </servlet-mapping>
</web-app>